
PORT=3001

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=revsage

DATABASE_SYNC=true

# TYPEORM_LOGGING=true

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=replace-with-a-long-random-string
JWT_EXPIRES_SEC=604800

NODE_ENV=development
